.loginInput {
  width: 100%;
  margin: 10px auto;
  padding: 7px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  color: white;

  &#email {
    background-image: linear-gradient(315deg, #414141 -10%, #000000 124%);
  }

  &#password {
    background-image: linear-gradient(315deg, #414141 0%, #000000 124%);
  }

  &:focus {
    outline: none !important;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
  }

  &:hover {
    outline: none !important;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px white;
  }

  &::placeholder {
    color: gray;
  }
}

.invalid {
  animation: blink 1.5s infinite ease-in-out;
}

.loginBtn {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  margin: 10px auto;
  background-image: linear-gradient(315deg, #414141 10%, #000000 124%);
  display: flex;
  cursor: pointer;

  p {
    color: gray;
    font-size: 20px;
    margin: auto;
  }

  &:hover {
    border-radius: 10px;
    box-shadow: 0 0 10px white;
  }

  &:active {
    border-radius: 10px;
    box-shadow: 0 0 10px white;
    opacity: 0.6;
  }
}

@keyframes blink {
  0% {
    box-shadow: 0;
  }

  50% {
    box-shadow: 0 0 10px #800000;
  }

  100% {
    box-shadow: 0;
  }
}

.forgotPasswordText {
  margin: auto 5px auto auto;
  color: gray;
  cursor: pointer;
  text-align: right;
  &:hover {
    opacity: 0.6;
  }
}
